extends layout
block content

    h3= title
    li
     h5=message
    br
    form(method='POST' action='')
        div.form-row
            div.form-group.col-md-6
                label(for= 'name') #[strong Name]:
                input#name.form-control(type='text', placeholder='Resource name' name='name' required='true' value=(undefined===resource ? '' : resource.name))
            div.form-group.col-md-6
                label(for= 'status') #[strong Status]:
                select#status.form-control(select='status', placeholder='Choose status' name='status' required='true' value=(undefined===resource ? '' : resource.status) )
                     option=["Available"]
                     option=["Maintenance"]
        -if (undefined===  resource) {val =''} else {val =resource.description}
        div.form-row
            div.form-group.col-md-6
                label(for='costperhour') #[strong Cost per booking hour]:
                input#costperhour.form-control(type='number' step='0.1',placeholder='Fill cost per booking Quantum'  name='costperhour' required='true' value=(undefined===resource ? '' : resource.hourcost))
            div.form-group.col-md-6
                label(for='photoURL') #[strong Insert Photo link]:
                input#photoURL.form-control(type='text',placeholder='Type link for photo' name='photoURL' value=(undefined===resource ? '' : resource.photoURL))
            div.form-group.col-md-6
                label(for='maxBooking') #[strong Maximum Booking time space]:
                input#maxBooking.form-control(type='number' step='0.5',placeholder='Maximum space number' name='maxBooking' value=(undefined === resource ? '' : resource.maxBookingDays))
            div.form-group.col-md-6
                label(for='description') #[strong Insert resource description]:
                textarea#description.form-control(type='text',placeholder='Type description' name='description') #{val}
            div.form-group.
        button.btn.btn-primary(type='submit') Submit
    if errors
        ul
            for error in errors
             h5
                 li!=   error.msg
