extends layout2
block content
    h3=errors
    h1=   resource_item.name
    img(src=""+resource_item.photoLink+"" alt="logo")
    form(method='POST'  action='')
        div.form-row
            div.form-group.col-md-1
            label(for= 'date_started') #[strong Book from]:
                input#date_started.form-control(type='datetime-local' step='1800', placeholder='DD/MM/YY' name='date_started' required='true')
            div.form-group.col-md-1
            label(for= 'date_finished') #[strong Book until]:
                input#date_finished.form-control(type='datetime-local' step='1800', placeholder='DD/MM/YY' name='date_finished' required='true')
        div.form-row
            div.form-group.col-md-6
                label(for='Project_Title') #[strong Project Title]:
                input#Project_Title.form-control(type='text',placeholder='Type your project title' name='Project_Title' value=(undefined === resource ? '' : resource.Project_title))
            div.form-group.col-md-6
                label(for='Project_Desc') #[strong Project description]:
                input#Project_Desc.form-control(type='textarea'  ,placeholder='Type your project description' name='Project_Desc' value=(undefined === resource ? '' : resource.Project_desc))
        button.btn.btn-primary(type='submit') Book