extends layout
block content
    h1 Your Booking has been registered to our system, thank you for your appreciation
    hr
    h2 Booking valid
    h3 from :
    |  #{first}
    h3 to :
    |  #{second}
    h3 total cost :
    | #{bookItem.total_cost}