extends layout1
block content
    h1 Welcome #{username}

    li
    h3 You can navigate through LIMS by clicking on the left-sided bar
    a(href='/catalog/billing/' + id)
      h6 Check your Billing Info

    body(background="../public/images/background.png" style="background-position:220px 0px;background-repeat: no-repeat !important;")