extends layout
block content
    h1 Welcome #{username}

    li
    h3 You can navigate through LIMS by clicking on the left-sided bar
    body(background="https://i.ibb.co/WgDBQ5K/0df1a8b165072f5ea73ca6adcba87398.jpg;" style="vertical-align: middle;")