extends layout
block content
    h1 Welcome #{username}

    li
    h3 You can navigate through LIMS by clicking on the left-sided bar
    body(background="https://i.ibb.co/jJ3qNZ6/illustration-vector-graphics-clip-art-image-microscope-png-favpng-Zska-RHt3-EEqbh-QUCLf8-A0-Xiwz.jpg")