extends layout
block content
    h1 Welcome #{username}

    li
    h3 You can navigate through LIMS by clicking on the left-sided bar
    body.background-image(url="https://i.ibb.co/Kj6Q9GZ/Laboratory-room-isometric-design-The-central-laboratory-in-the-hospital-has-an-examination-page-for.jpg")


